@import "tailwindcss";

@layer base {
  body {
    /* Standard font for better ATS parsing, gotta convince those beep boo bop AI scrappers to let me get an interview. */
    font-family: "Inter", system-ui, sans-serif;
    color: #1f2937; /* Tailwind's gray-800 */
    line-height: 1.5;
  }
}

@media print {
  @page {
    margin: 0;
    size: letter;
  }

  body {
    /* Critical: This forces background colors (like pills/badges) to print */
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Meant to hide some ui elements when printing uwu */
  .no-print {
    display: none;
  }
}
